.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.Card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.button {
  width: 60%;
  height: 55px;
  background: #fff;
  align-self: center;
  border-radius: 2em;
  transform: translateY(-30px);
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  text-align: center;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fullRadius {
  padding: 0;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 25px;
}
